/* Import other css */
@import url('reset.css');
@import url('social.css');
@import url('comments.css');
@import url('widgets.css');
@font-face
{
font-family: Gisha;
src: url('/gisha.ttf');
}

/* GENERAL ------------------------------------------------------------*/

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

.clearfix{ clear:both; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}


.wrapper{
	margin: 0 auto; 
	position: relative;
}

body{
	font-family: Gisha;
	font-size: 13px;
	
}



body p{
	padding: 14px;
	text-align: right;
}

body a{
	text-decoration: none;
	
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}



#logo{
	display: inline-block;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0px -34px;
}


#logo:hover{ opacity: 0.8;}

h1,h2,h3,h4,h5,h6{
	font-family: 'Gisha', Arial, sans-serif;
	font-weight: 400;
}

h1{ font-size: 36px; text-align:right;}

h2{ font-size: 14px; text-align:right; color:#444;}

h3{ font-size: 24px; }

h4{ font-size: 21px; }

h5{ font-size: 18px; }

h6{ font-size: 14px; }

#main,
footer,
aside{ line-height: 1.5em; }


.wrapper {
	width: 940px;
}

.right{
	float: right;
}

.left{
	float: left;
}


.right:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#top-widget-holder,
footer,
aside{
    font-size: 12px;
    line-height: 1.5em;
}

.page-heading{
	text-align: right;
margin: 27px 0px 24px 1px;
	background: url(../img/div-line.png) repeat-x center center;
}

.page-heading span{
padding: 0 10px;
margin-right: 15px;
}


/* WIDGETS------------------------------------------------*/

#top-widget-holder{
    z-index: 1000;
    position: relative;
    
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.5); 
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
    -o-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
    box-shadow: 0px 1px 2px rgba(0,0,0,.5);
}

#top-widget{
	display: none;
}

#top-widget .padding{
	padding-top: 20px;
    padding-bottom: 30px;
}

#top-open{
	position: absolute;
	bottom: -42px;
	right: 0px;
	display: block;
	width: 42px;
	height: 42px;
	background: url(../img/top-open.png) no-repeat 0px 0px ;
	
	text-indent: -9000px;
}

#top-open.tab-closed{
	background-position: -44px 0px;	
}

/* WIDGET COLS ------------------------------------------------------------*/

.widget-cols h4{
	margin-bottom: 21px;
}

.widget-cols>li{
	width: 220px;
	float: left;
	margin-right: 20px;
}

.widget-cols>li.fourth-col{
	margin-right: 0px;
}


/* COMBO NAVIGATION ------------------------------------------------------------*/
#comboNav {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  float: left;
}

/* NAVIGATION ------------------------------------------------------------*/


nav{
	margin-top: 0px;
	height: 30px;
}


nav a{
	text-decoration: none;
}

#nav li{
	margin-right: 20px;
}

#nav>li>a{
	font-family: 'Gisha', Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	display: block;
	overflow: hidden;
	padding: 0px 0px 7px 0px;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, .6);
}


#nav>li.current-menu-item>a,
#nav>li.current_page_item>a{
	border-bottom: solid #ebebe8 5px;
}



/* sub navigation -----------------------------------------------------*/

#nav>li ul{
	display: block;
	margin-top: -10px;
	
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	
}

#nav>li ul li a{
	display: block;
	padding: 15px 20px;
	display: block;
	font-size: 11px;
	text-decoration: none;
}

#nav>li ul li a span{
	display: block;
}



/* BREADCRUMBS ------------------------------------------------------------*/

.breadcrumbs{
	position: absolute;
	overflow: hidden;
	top: -18px;
	left: 0px;
	height: auto;
	font-size: 11px;
}

.breadcrumbs a{
	text-decoration: none;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.breadcrumbs li{
	display: inline;
}


.breadcrumbs li strong{
	font-weight: bold;
	font-size: 21px;
}

/* CONTACT CONTENT ------------------------------------------------------------*/

#contactForm{
	position: relative;
	width: 700px;
	float: left;
	margin-right: 20px;
}

#contact-sidebar{
	position: relative;
	width: 200px; /* 220 - 20 padding */
	float: left;
	padding: 20px 10px 20px 10px;
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
}

/* SIDEBAR ------------------------------------------------------------*/

#sidebar{
	position: relative;
	width: 200px; /* 220 - 20 padding */
	float: left;
	padding: 45px 10px 20px 10px;
	margin-top: -58px;
	margin-bottom: 40px;
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
}

#sidebar .block{
	margin-bottom: 18px;
	padding-bottom: 5px;
}

#sidebar .block:last-child{
	border-bottom: none;
}

#sidebar h4,
#contact-sidebar h4{
	margin-bottom: 20px;
}

#sidebar li{
	margin-bottom: 7px;
}

/* HOME ------------------------------------------------------------*/

.home-block{
	margin-bottom: 20px;
}

.home-block-heading{
	text-align: center;
	margin-bottom: 40px;
	background: url(../img/div-line.png) repeat-x center center;
}

.home-block-heading span{
	padding: 0px 20px;
}

.home-block figure{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	line-height: 1.2em;
	
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.2); 
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,.2);
    -o-box-shadow: 0px 0px 2px rgba(0,0,0,.2);
    box-shadow: 0px 0px 2px rgba(0,0,0,.2);
}

.home-block figure .thumb{
	display: block;
	
}


.home-block figure img{
	max-width: 100%;
	opacity: .999;
		
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.home-block figure a:hover img{
	opacity: 0.1;
	line-height: 0em;
}


.home-block figure.last{
	margin-right: 0px;
}

.home-block figcaption{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

/* modernizr fix for ie 8 and earlier */

.no-opacity .home-block figcaption{
	display: none;
}

.no-opacity .home-block figure:hover figcaption{
	display: block;
}

.home-block figure .opener{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 999;
}

.opacity .home-block figure .opener{ display: none; }

.home-block figcaption strong,
.home-block figcaption span,
.home-block figcaption em{
	display: block;
	margin-left: 17px;
	margin-right: 17px;
}

.home-block figcaption strong{ 
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 7px;
	margin-top: 17px;
}

.home-block figcaption span{ 
	font-size: 11px;
	margin-bottom: 7px;
}

.home-block figcaption em{ 
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	position: absolute;
	bottom: 10px;
}

.home-block figcaption em{ font-weight: bold; }

.one-third-thumbs figure{ width: 300px; }

.one-fourth-thumbs figure{ width: 220px; }

.more-link{
	margin-bottom: 0px;
}

/* MAIN ------------------------------------------------------------*/

#main{
	padding-top: 40px;
	background: url(../img/oblique-lines.png) repeat-x;
	margin-bottom: 60px;
}

/* PORTFOLIO ------------------------------------------------------------*/

.portfolio-thumbs{
	width: 960px;
	padding-top: 20px;
}

.portfolio-thumbs figure{ width: 300px; }

.portfolio-thumbs figure{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	line-height: 1.2em;
}

.portfolio-thumbs figure .thumb{
	display: block;
}

.portfolio-thumbs figure img{
	max-width: 100%;
	opacity: .999;
		
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.portfolio-thumbs figure a:hover img{
	opacity: 0.1;
	line-height: 0em;
}

.portfolio-thumbs figcaption{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.portfolio-thumbs figcaption strong,
.portfolio-thumbs figcaption span,
.portfolio-thumbs figcaption em{
	display: block;
	margin-left: 17px;
	margin-right: 17px;
}

.portfolio-thumbs figcaption strong{ 
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 7px;
	margin-top: 17px;
}

.portfolio-thumbs figcaption span{ 
	font-size: 11px;
	margin-bottom: 7px;
}

.portfolio-thumbs figcaption em{ 
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	position: absolute;
	bottom: 10px;
}


/* modernizr fix for ie 8 and earlier */

.no-opacity .portfolio-thumbs figcaption{
	display: none;
}

.no-opacity .portfolio-thumbs figure:hover figcaption{
	display: block;
}

.portfolio-thumbs figure .opener{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 999;
}

.opacity .portfolio-thumbs figure .opener{ display: none; }

/* PROJECT ------------------------------------------------------------*/


.project-heading{
	margin: 44px 24px 44px 0px;
}


.project-heading h2{
	float: left;
	margin-right: 20px;
}

.project-heading .launch{
	display: block;
	float: left;
	text-decoration: none;
	padding-top: 5px;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


.project-description{
	float: left;
	width: 700px;
	margin-bottom: 70px;
	margin-right: 20px;
}

.project-info{
	float: left;
	width: 220px;
	margin-bottom: 70px;
}

.project-info strong{ font-weight: bold; }

.project-pager{
	overflow: hidden;
	margin: 0px;
	padding-bottom: 24px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 24px;
}

.project-pager a{
	text-decoration: none;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.project-pager a:hover{
	text-decoration: none;
}

.project-pager .prev-project{
	float: left;
}

.project-pager .next-project{
	float: right;
}

/* RELATED PROJECTS ---------------------------------------------------*/

.related-projects{
	display: block;
	width: 940px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 24px 0px 50px 0px;
}

.related-heading{
	font-weight: bold;
	margin: 0px 0px 24px 0px;
}

.related-projects .related-list{
	display: block;
}

.related-projects  figure{
	display: block;
	float: left;
	width: 220px;
	margin-right: 15px;
}

.related-projects  figure .last{
	margin-right: 0px;
}

.related-projects .thumb{
	display: block;
	margin-bottom: 12px;
	
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2); 
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2); 
}

.related-projects .thumb:hover img{
	opacity: 0.15;
}

.related-projects figure img{
	max-width: 100%;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


/* CONTACT ------------------------------------------------------------*/


#map_canvas{
	display: block;
	height: 300px;
	width: 100%;
	margin-bottom: 24px;
	margin-top: 40px;	
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
}

.map-content{
	margin-bottom: 60px;
	padding-bottom: 40px;
	border-bottom: 1px solid #ccc;
}

.address-block li{
	padding-left: 20px;
}

.address-block .address{ background: url(../img/icon-address.png) no-repeat top left  }

.address-block .phone{ background: url(../img/icon-phone.png) no-repeat top left}

.address-block .mobile{ background: url(../img/icon-mobile.png) no-repeat top left }

.address-block .email{ background: url(../img/icon-email.png) no-repeat top left }

/* PAGE ------------------------------------------------------------*/

.floated-content,
.fullwidth-content{
	
}

/* BLOG ------------------------------------------------------------*/

.floated-content-home
{
	position: relative;
	width: 600px;
	float: left;
	margin-right: 20px;
}

.floated-content
{
	position: relative;
	width: 600px;
	float: left;
	margin-right: 20px;
}

#posts-list,
#post-content{
	position: relative;
	width: 700px;
	float: left;
	margin-right: 20px;
}


#posts-list .page-heading,
.fullwidth-content .page-heading,
.floated-content .page-heading{
	margin-bottom: 35px;
}

#posts-list .entry-date{
	position: absolute;
	top: 0px;
	left: 23px;
	width: 97px;
	height: 97px;
	background: url(../img/date.png) no-repeat;
	font-family: 'Gisha', Arial, sans-serif;
}

#posts-list .entry-date .number{
	font-size: 50px;
	padding-top: 25px;
	text-align: center;
}

#posts-list .entry-date .year{
	text-align: center;
	padding-top: 10px;
}


#posts-list article{
	position: relative;
	padding-left: 160px;
	margin-bottom: 40px;
}

#posts-list .feature-image,
#post-content .feature-image{
	width: 540px;
	margin-bottom: 21px;
	line-height: 0em;
	
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
}

#posts-list .feature-image img,
#post-content .feature-image img{
	max-width: 100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#posts-list .feature-image:hover img,
#posts-content .feature-image:hover img{
	opacity: 0.2;
}

#posts-list .post-heading{
	margin-bottom: 20px;
	line-height: 1.0em;
}

#posts-list .excerpt,
#posts-list .read-more{
	display: block;
	margin-bottom: 20px;
}

article .meta div{
	padding: 15px 10px 15px 30px;
	float: left;
	max-width: 170px;
}

article .meta .comments{
	border-left: 1px solid #cecece;	
	border-right: 1px solid #cecece;
	background: url(../img/icon-comments.png) no-repeat;
}

article .meta .user{
	background: url(../img/icon-user.png) no-repeat;
}

article .meta .categories{
	background: url(../img/icon-tags.png) no-repeat;
}

article .meta .categories,
article .meta .comments,
article .meta .user{
	background-position: 5px 12px;	
}

/* SINGLE ------------------------------------------------------------*/

.post-content{
	margin-bottom: 20px;	
}

.single-post .meta{
	margin-bottom: 50px;	
}

/* PAGE NAVIGATION ------------------------------------------------------------*/

.page-navigation{
	display: block;
	margin-left: 160px;
	margin-bottom: 0px;
}

.page-navigation a{
	display: block;
	padding: 14px 18px;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.8);
}

.page-navigation .nav-next{
	float: left;
}

.page-navigation .nav-previous{
	float: right;
}

/* PAGER ------------------------------------------------------------*/

.pager{
	overflow: hidden;
	display: block;
	font-size: 11px;
	margin: 0px 0px 0px 0px;
	padding-bottom: 70px;
}

.pager li{
	display: block;
	margin-right: 5px;
	float: left;
}

.pager li a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	width: 20px;
	border: 1px solid #ccc;
	line-height: 20px;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.pager .paged{
	float:right;
	font-style:italic;
}


/* SLIDER-HOLDER ------------------------------------------------------------*/

#slider-holder{
	padding-bottom: 50px;
}

.home-slider{
	float: left;
}

#slider-holder #headline{
	position: relative;
	float: right;
	width: 260px; /* 300 - 40 padding */
	min-height: 275px;
	margin-top: -58px;
	padding: 20px 14px 20px 24px;
	
	-webkit-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
	
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
}

#headline h1{ 
	margin-bottom: 30px;
	line-height: 1.0em;
}


#headline em#corner,
#sidebar em#corner{
	display: block;
	position: absolute;
	top:0px;
	left: -14px;
	width: 14px;
	height: 18px;	
	background: url(../img/sidebar-corner.png) no-repeat;
}


/* FOOTER ------------------------------------------------------------*/


.footer-bottom{
	margin-top: 30px;
}

footer .wrapper,
.footer-bottom{
	padding-top: 40px;
}



/* FOOTER BOTTOM ------------------------------------------------------------*/

.footer-bottom{
	margin-bottom: 60px;
	overflow: hidden;
}

.footer-bottom .left{
	width: 50%;
	padding-top: 10px;
	float: left;
}

.footer-bottom .right{
	width: 50%;
	float: right;
}


	
	/* CUSTOM FONT */
	@font-face {
		font-family: 'EfonRegular';
		src: url('font/EFON-webfont.eot');
		src: local('EfonRegular'), url('font/EFON-webfont.woff') format('woff'), url('font/EFON-webfont.ttf') format('truetype'), url('font/EFON-webfont.svg#webfont') format('svg');
		font-weight: normal;
		font-style: normal;
	}	
	


	.button {
	width: 105px;
height: 100px;
line-height: 100px;
margin: 10px;
color: white;
text-decoration: none;
font-size: 10;
font-family: helvetica, arial;
font-weight: bold;
display: block;
text-align: center;
position: relative;
background: #014464;
background: -moz-linear-gradient(top, #0D658E, #0C577A 50%, #014D71 51%, #003E5C);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0E658E), color-stop(.5, #0C577A), color-stop(.5, #014D71), to(#003E5C));
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
border: 1px solid #368DBE;
border-top: 1px solid #C3D6DF;
text-shadow: 1px 1px 1px black;
-moz-box-shadow: 0 1px 3px black;
-webkit-box-shadow: 0 1px 3px black;
box-shadow: 0 1px 3px black;
	}
	
	/* WHILE HOVERED */
	.button:hover {
		background: #014464;
	 	background: -moz-linear-gradient(top, #0c5f85, #0b5273 50%, #024869 51%, #003853);
	 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0c5f85), color-stop(.5, #0b5273), color-stop(.51, #024869), to(#003853));
	}
	
	/* WHILE BEING CLICKED */
	.button:active {
		-moz-box-shadow: 0 2px 6px black;
		-webkit-box-shadow: 0 2px 6px black;
	}
	/* FONT GLYPH (MOSTLY FOR FUN) */
	.button:before {
		font-family: EfonRegular;
		color: #09232F;
		font-size: 90px;
		float: left;
		margin-left: 35px;
		margin-right: -10px;
		text-shadow: 0 1px 0 #4190AF;
	}
	
	.mainbutton  {

	}	
	
	.mainbutton .left {
		float:left;
	}	
	
	.mainbutton .right {
		float:right;
	}	

	.button img{
	position: absolute;
right: 19px;
top: 11px;
	}
		.button p{
position: absolute;
text-align: center;
left: 0px;
top: 27px;
width: 79px;
font-size: 11px;
font-family: gisha;
	}
	
/* 	.login{
		position:relative;
		float: right;
		margin-top: -6px;
		width:238px;
		height:75px;
		border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		background-color: rgba(255, 255, 255, 0.7);
	}	 */
	
	
	.login img{
		width:238px;
	}
	
	
		.currentlogin{
		position:relative;
		float: right;
		border: 1px solid #CCC;
		margin-top: -6px;
		width:239px;
		height:214px;
		border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
		background-color: rgba(255, 255, 255, 0.7);
	}
	
	
	.left{
	float: left;
	}
	
	.right{
	float: right;
	}
	
	.login .right{
		margin: 17px 26px;
		font-size: 14px;
		color: #F57732;
		font-weight: bolder;
	}
	.currentlogin .right{
		margin: 17px 26px;
		font-size: 14px;
		color: #F57732;
		font-weight: bolder;
	}
	
	.currentlogin .notification{
margin: -50px 86px 0 25px;
font-size: 13px;
float: right;
color: #3288F5;
	}
	
	
	
	.currentlogin .left{
margin: -72px 0 0 95px;
font-size: 14px;
color: #686868;
font-weight: bold;
	}
	
	.currentlogin .firstname{
position: absolute;
margin: 17px 0px 0 14px;
width: 73px;
white-space: nowrap;
font-size: 14px;
color: #616F8D;
font-weight: bold;
text-align: right;
	}
	
	.login .left{
		margin: 18px;
	}
	
	.profesional{
position: absolute;
color: red;
top: 44px;
font-size: 13px;
font-weight: bold;
left: 132px;
	}

	
.entercode{
		position:relative;
		float: right;
		margin-top: -6px;
		width:624px;
		height:86px;
		border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
		border: 1px solid rgba(0, 48, 80, 0.4);
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #DFDDD5 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #DFDDD5 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #DFDDD5 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #DFDDD5));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #DFDDD5 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #DFDDD5 100%);
	}
	
	.maintext{
		position: relative;
		float: right;
		margin-top: 16px;
		width: 624px;
		height: 226px;
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border: 2px solid rgba(156, 156, 156, 0.2);
		background-color: #DFDDD5;
		margin: 10px 0 0;
	}
	
	.main_cupon-3{
		position: relative;
		float: right;
		width: 624px;
		margin-top: 12px;
		height: 120px;
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border: 2px solid rgba(156, 156, 156, 0.2);
		background-color: #DFDDD5;
		
	}
	
	.main_cupon-4{
		position: relative;
		float: right;
		width: 814px;
		margin-top: 12px;
		height: 120px;
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border: 2px solid rgba(156, 156, 156, 0.2);
		background-color: #DFDDD5;
		display:none;
		
	}
	
	
	
	
	.codetext{
		position: absolute;
float: right;
right: 25PX;
top: 19PX;
font-size: 20PX;
color: #A54417;
font-weight: bold;
	}
	
.codetitle{
position: absolute;
float: right;
right: 19PX;
top: 32PX;
font-size: 32PX;
letter-spacing: -2px;
color: #003050;
font-weight: bold;
	}
	.codeinput input{
position: absolute;
color: #B9B9B9;
border: 0px solid #CCC;
font-weight: bold;
font-size: 19px;
width: 300px;
height: 43px;
padding: 0 25px;
margin: 8px 0;
right: 153px;
top: 12px;
		text-align:right;
        direction:rtl;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;

   -moz-box-shadow:    inset 5px 5px 15px -7px black;
   -webkit-box-shadow:  inset 5px 5px 15px -7px black;
   box-shadow:          inset 5px 5px 15px -7px black;
}
.buttontmailext{font-size: 19px;
position: absolute;
left: 8px;
top: 13px;}
.buttonmail{
float: left;
position: relative !important;
width: 15px !important;
margin: -4px 0px 12px -9px!important;}
.codebutton{
position: absolute;
background-color: #003050;
font-weight: bold;
font-size: 28px;
width: 49px;
height: 43px;
padding: 0 25px;
margin: 8px 0;
left: 10px;
top: 12px;
text-align: center;
border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border: 1px solid rgba(0, 48, 80, 0.4);

background-image: -ms-linear-gradient(top, #dadada 0%, #003050 30%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #dadada 0%, #003050 30%);

/* Opera */ 
background-image: -o-linear-gradient(top, #dadada 0%, #003050 30%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dadada), color-stop(1, #003050));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #dadada 0%, #003050 30%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #dadada 0%, #003050 30%);
}


.buttontext{
position: absolute;
top: 10px;
right: 23px;
color: white;
}

.account{
width: 235px;
height: 50px;
margin: 10px;
text-align: right;
}


.usermenu li{
position:relative;
text-align: right;
direction:rtl;
}

.usermenu li img{
width:20px;
height:20px;
}

.usermenu li .count{
float:left;
padding-left: 38px;
 margin-top: 5px;
}

.usermenu li label{
/* position: absolute; */
left: 82px;
top: 4px;
font-size: 14px;
letter-spacing: 1px;
text-align: right;
direction:rtl;
}

.usermenu {
width: 235px;
text-align: right;
position: relative;
top: -10px;
left: -21px;
float: left;
}

.description_box li{list-style-type:none;}

.page2{position:relative;}
.page2 p{float: right;width: 343px;}
.page2 .firstletter {font-size: 32px;}
.page2 h2{float: right;width: 400px;margin: 20px 0 0 202px;font-size: 25px;font-weight: bold;}
.page2 img{width: 250px; margin:-40px 0 0 0 }

.page1{position:relative;}
.page1 p{float: right;width: 343px;}
.page1 .firstletter {font-size: 32px;}
.page1 h2{float: right;width: 400px;margin: 20px 0 0 202px;font-size: 25px;font-weight: bold;}
.page1 img{width: 200px;float: left;margin: -6px 0 0 32px;}

.page3{position:relative;}
.page3 p{float: right;width: 343px;}
.page3 .firstletter {font-size: 32px;}
.page3 h2{float: right;width: 400px;margin: 20px 0 0 202px;font-size: 25px;font-weight: bold;}
.page3 img{width: 200px;float: left;margin: -6px 0 0 32px;}








.boxgrid{ 
	width: 190px; 
	height: 108px; 
	margin: 4px 8px 0 7px;
	float:left; 
	background:#161613; 
	border: solid 2px #8399AF; 
	overflow: hidden; 
	position: relative; 
}
	.boxgrid img{ 
	height:108px;
	width:190px;
		position: absolute; 
		top: 0; 
		left: 0; 
		border: 0; 
	}
	.boxgrid p{ 
		padding: 0 10px; 
		color:#afafaf; 
		font-weight:bold; 
		font:10pt "Lucida Grande", Arial, sans-serif; 
	}
	
	
	 .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }


/* Easy Slider */

	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:630px;
		height:241px;
		overflow:hidden; 
		}	

		
	/* numeric controls */	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;	
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
	
	
	
	
	
	
	.wall-messages{
			position: relative;
		float: right;
		width: 643px;
		
		overflow:hidden;
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
	}
	
	
	/* right boxes */
.info_box {
	width: 307px;
	float: right;
	margin: -6px 0px;
	
}

.infobox-container {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
	text-align:right;

}

.infobox-container .triangle-l {
    border-color: transparent #2083c2 transparent transparent;
    border-style:solid;
    border-width:13px;
    height:0;
    width:0;
	margin-top:-20px;
   
    left: -12px;
    top: 72px;
    z-index: 0; /* displayed under infobox */
}

.triangle-l {
	border-color: transparent #7d90a3 transparent transparent;
	border-style:solid;
	border-width:15px;
	height:0px;
	width:0px;
	position: relative;
	left: -30px;
	top: 65px;
	z-index: -1; /* displayed under bubble */
}

.infobox {
text-align:right;
    width: 288px;
    padding: 10px 5px 5px 5px;
    margin:10px;
    position: relative;
    z-index: 90;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    background: #CBCBCB;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E8E8), to(#CBCBCB));
    background-image: -moz-linear-gradient(top,#E6E8E8,#CBCBCB);
    color: #fff;
    font-size: 90%;
		
}
.infobox h3 {
    position: relative;
    width: 270px;
    color: #fff;
    padding: 10px 20px;
    margin: 0;
    left: -13px;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    background: #3198dd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#33acfc), to(#00030C));
    background-image: -moz-linear-gradient(top,#33acfc,#3198dd);
    font-size: 160%;
    text-align: right;
    text-shadow: #2128C8 0 -1px 1px;
    font-weight: bold;
}

.big{
min-height:0px
}

.lock{
min-height:0px
}

.members{font-size: 12px;
font-weight: bold;
padding: 4px 0 0 0;
color: red;
text-align: right;}
.loginfb{ color:blue;}
.infobox h3 span img{height:20px; width:20px; float:left;}

.inputemail input {

color: #B9B9B9;
border: 0px solid #CCC;
font-weight: bold;
font-size: 19px;
float: right;
width: 200px;
height: 43px;
padding: 0 5px;
margin: 8px 4px;
		text-align:right;
        direction:rtl;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;

   -moz-box-shadow:    inset 5px 5px 15px -7px black;
   -webkit-box-shadow:  inset 5px 5px 15px -7px black;
   box-shadow:          inset 5px 5px 15px -7px black;
}
.top-buttons .bt{float:right;width:94px}
.top-buttons{margin: 15px 0px 0px 0px;
height: 28px;
width: 282px;}
.contant-box{
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		height:187px;
		width:278px;
		margin: 5px;
		background:#fff;
		border: 1px solid #CFCFCF;
		overflow: hidden;
		
}	
.contant-box ul {overflow:hidden;height:200px;}
.box-row{
border:1px solid #bee1fa; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #f2f9fe;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f9fe), color-stop(100%, #d6f0fd));
 background-image: -webkit-linear-gradient(top, #f2f9fe, #d6f0fd);
 background-image: -moz-linear-gradient(top, #f2f9fe, #d6f0fd);
 background-image: -ms-linear-gradient(top, #f2f9fe, #d6f0fd);
 background-image: -o-linear-gradient(top, #f2f9fe, #d6f0fd);
 background-image: linear-gradient(top, #f2f9fe, #d6f0fd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f9fe, endColorstr=#d6f0fd);
}

.box-row:hover{
 border:1px solid #93cdf7; background-color: #c3e3fa;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3e3fa), color-stop(100%, #a5defb));
 background-image: -webkit-linear-gradient(top, #c3e3fa, #a5defb);
 background-image: -moz-linear-gradient(top, #c3e3fa, #a5defb);
 background-image: -ms-linear-gradient(top, #c3e3fa, #a5defb);
 background-image: -o-linear-gradient(top, #c3e3fa, #a5defb);
 background-image: linear-gradient(top, #c3e3fa, #a5defb);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c3e3fa, endColorstr=#a5defb);
}

.box-row img{float:right}
.box-row .line-contant{height:50px;}
	
	/* infinity scroll*/

	    #more{
		background: url(../img/loadingAnimation.gif) no-repeat;
		height:200px;
		left: 430px;
		display: none;
		position: fixed;
		top: 80px;
		z-index:10000;
		width:200px

	    }
	    #no-more{
		background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CFCFCF;
    color: #000000;
    display: none;
    font-weight: bold;
    left: 1100px;
    padding: 5px;
    position: fixed;
    top: 100px;

	    }
	